
.background_image{
    width: 100%;
    height: 100%;
    background-image: url(../content/bg_img.jpg);
    background-position: bottom;
    animation: 30s linear 0s infinite bg;
}

@keyframes bg {
    from {
        background-position: 3000px 0;
    }

    to {
        background-position: 0 3000px;
    }
}



.distort_img_wrap {
    width: 200px;
    margin: 0 auto;
    height: 200px;
}

.distort_img {
    height: 100%;
    width: 100%;
}